body {
    background-color: #1f2964;
    padding: 0;
    margin: 0;
}
.container {
    background-image: linear-gradient( rgb(185, 240, 237) 40%, green 20%);
    height: 300px;
    width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-right: 5px solid black;
    border-bottom: 2px solid black;
    border-radius: 15%;
}

.blue-ball{
    position: absolute;
    z-index: 1000;
    bottom: 40px;
    left: -90px;
    background-color: #1f2964;
    width: 70px;
    height: 150px;
    border-radius: 50% 0 50% 0;
}

.brown{
    position: absolute;
    left: -35px;
    margin-top: 50px;
    background-color: rgb(163, 96, 7);
    width: 100px;
    height: 200px;
}

.green-one{
    position: absolute;
    bottom: 45px;
    left: 25px;
    background-color: green;
    width: 70px;
    height: 150px;
    border-radius: 0 50% 0 50%;
}

.green-two{
    position: absolute;
    bottom: 170px;
    left: 10px;
    background-color: green;
    width: 110px;
    height: 110px;
    border-right: 5px solid black;
    border-radius: 50%;
    transform: rotate(15deg);
}

.green-three{
    position: absolute;
    bottom: 240px;
    left: -40px;
    background-color: green;
    width: 110px;
    height: 110px;
    border-top: 5px solid black;
    border-radius: 50%;
    transform: rotate(45deg);
}

.green-four{
    position: absolute;
    bottom: 210px;
    left: -120px;
    background-color: green;
    width: 110px;
    height: 110px;
    border-top: 5px solid black;
    border-radius: 50%;
    transform: rotate(45deg);
}

.green-five{
    position: absolute;
    z-index: 1000;
    bottom: 155px;
    left: -75px;
    background-color: green;
    width: 110px;
    height: 110px;
    border-bottom: 2px solid black;
    border-radius: 50%;
    transform: rotate(30deg);
}

.radial{
    position: absolute;
    top: 5px;
    left: 300px;
    border-radius: 50%;
    background: radial-gradient(yellow, rgba(255, 255, 255, 0.014));
    width: 100px;
    height: 100px;
}

.sun{
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: yellow;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.bird{
    animation: wing 3s infinite;
}

.wing-one{
    background-color: rgb(185, 240, 237);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 200px;
    top: 61px;
    border-top: 2px solid black;
    border-radius: 50%;
    transform: rotate(10deg);
    animation: wing 3s infinite;
}

.wing-two{
    background-color: rgb(185, 240, 237);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 175px;
    top: 52px;
    border-top: 2px solid black;
    border-radius: 50%;
    transform: rotate(10deg);
    animation: wing 3s infinite;
}

.cat {
    background-color: #f19b1a;
    height: 65px;
    width: 80px;
    border-radius: 0 80px 80px 0;
    position: absolute;
    bottom: 60px;
    right: 50px;
}
.ear {
    height: 15px;
    width: 15px;
    background-color: #f19b1a;
    position: absolute;
    bottom: 64px;
    left: 8px;
    border-radius: 20px 0 0 0;
    box-shadow: 25px 0 #f19b1a;
}
.eye,
.eye:before {
    height: 7px;
    width: 10px;
    border: 2px solid #2c2c2c;
    position: absolute;
    border-radius: 0 0 15px 15px;
    border-top: none;
}
.eye {
    top: 18px;
    left: 15px;
}
.eye:before {
    content: "";
    left: 30px;
}
.nose {
    background-color: #ffffff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    left: 25px;
    box-shadow: 12px 0 #ffffff;
}
.nose:before {
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    background-color: #ffffff;
    left: 6px;
}
.nose:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 8px solid #ef926b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 7px;
    left: 6px;
}
.mouth {
    background-color: #2c2c2c;
    height: 15px;
    width: 17px;
    position: absolute;
    border-radius: 0 0 5px 5px;
    top: 38px;
    left: 27px;
    animation: mouth-move 2s infinite;
    transform-origin: top;
}
@keyframes mouth-move {
    50% {
        transform: scaleY(0.7);
    }
}
.body {
    background-color: #f19b1a;
    height: 90px;
    width: 140px;
    position: absolute;
    right: 65px;
    bottom: 0;
    border-radius: 60px 60px 0 0;
    animation: sleep 2s infinite;
    transform-origin: bottom right;
}
@keyframes sleep {
    50% {
        transform: scale(0.9, 1.05);
    }
}
.tail {
    background: linear-gradient(to right, #ffffff, #f19d1e, #f69d3c);
    height: 20px;
    width: 100px;
    position: absolute;
    right: 150px;
    bottom: 0;
    border-radius: 20px 0 0 20px;
}
.body:before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 12px;
    width: 30px;
    border-radius: 6px;
    bottom: 0;
    left: 22px;
    box-shadow: 45px 0 #ffffff;
}
.bubble {
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 65px;
    top: 20px;
    border-radius: 50px 50px 50px 5px;
    animation: bubble-scale 2s infinite;
}
@keyframes bubble-scale {
    50% {
        transform: scale(1.6);
    }
}
.shadow {
    height: 10px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    bottom: 52px;
    left: 170px;
    animation: shadow 2s infinite;
}
@keyframes shadow {
    50% {
        transform: scaleX(0.7);
    }
}

@keyframes wing {
    50% {
        transform: scaleX(0.5);
        transform: scaleY(0.7);
    }
}